.vscode/**
Main_ws/src/.vscode/**
Main_ws/build/**
Main_ws/install/**
Main_ws/log/**
Main_ws/.cache/**
utils/libs/ceres-solver-2.0.0
utils/libs/z_g2o-20230806_git
utils/libs/fmt-10.2.1
utils/libs/Sophus-1.22.10
utils/libs/ceres-solver-2.0.0
utils/libs/spdlog-1.14.0
GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB